<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <%- include('style.ejs') %>
</head>

<body>
    <div id="containerInicio">
        <%- include('_header.ejs') %>
            <section id="cards">
                <div id="cardsparent">
                    <% for(var i=0; i< cards.length; i++){ %>
                        <div class="cardsChildren"
                            style="background: rgba(0, 0, 0, 0.7) url('<%= cards[i].imagen %>') no-repeat; background-size: cover;">
                            <a id="botModificar" class="editores" href="/modificar/<%= cards[i]._id %>"> <strong>
                                    Modificar </strong> </a>
                            <a id="botEliminar" class="eliminar editores" href="/eliminar/<%= cards[i]._id %>"> <strong>
                                    X</strong> </a>
                            <div class="cardContent">
                                <strong>
                                    <h1 class="h1Titulo">
                                        <%= cards[i].titulo %>
                                    </h1>
                                </strong><br>
                                <label>
                                    <%= cards[i].descripcion_corta %>
                                </label><br>
                                <label><strong>Autor:</strong>
                                    <%= cards[i].autor %> <br> Fecha: <%= cards[i].fecha %>
                                </label><br>
                                <label><strong>Ultima modificación:</strong>
                                    <%= cards[i].ult_modificacion %>
                                </label><br>
                                <a class="verMas" href="/content/<%= cards[i]._id %>">Ver mas...</a>
                            </div>
                        </div>


                        <% } %>

                </div>
            </section>

            <section id="postSeleccionado"></section>

            <%- include('_footer.ejs') %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(".cardsChildren").mouseenter(function (e) {
            $(e.target).children(".editores").css("opacity", "100");
        })

        $(".cardsChildren").mouseleave(function (e) {
            $(e.target).children(".editores").css("opacity", "0");
        })

        $(".eliminar").click(function (e) {
            var opcion = confirm("Esta seguro que desea eliminar esta publicacion?");
            if (opcion == false) {
                e.preventDefault();
            }
        })

    </script>
</body>

</html>